<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title><%= title %></title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">KITTEN MACHINE</a>
        </div>
      </div>
    </nav>

    <div class="container">

      <div class="starter-template">
        <h1>Always been dreaming of a kitten?</h1>
        <p class="lead">We can make your dream come true!</p>

        <!-- INSERT PAYMENT FORM HERE -->
        <div><img src="/images/comingsoon.png" alt="Coming Soon" /></div>
        <!-- END FORM -->

        <a class="btn btn-lg btn-success" href="#" role="button">Get Your Kitten Now For 42€</a>
      </div>

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
